body{
    font-family: 'Roboto';
}

.side-nav a {
    #line-height: 40px;
    height: 38px;
    #font-weight: bold;
    #font-size: 13px;
}

.side-nav a > i {
    margin: 0 15px 0 0 !important;
}

#videos_container a {
    color: #333333;
    font-weight: bold;
}

#loading_container {
    text-align: center;
    padding-top: 40%;
}
.loading-label{
    margin-top: 20px;
}